<main role="main" class="container">
  <div>
    <p>La URL original es: {{original_url}}</p>
    <p>La URL generada es: {{short_url}}</p>
    <p>Cantidad de veces que se ha redireccionado: {{visits}}</p>
  </div>
</main>
