<main role="main" class="container">
  <div class="starter-template">
    <input id="original_url" type="url" name="original_url" placeholder="URL">
    <input type="button" value="Acortar" class="btn btn-primary" onclick="shortenURL()">
    <p id="result"></p>
  </div>
</main>
